.loginContainer {
  width: 400px;
  height: 738px;
  align-content: center;
  justify-content: center;
}

.loginLogo {
  justify-self: center;
  display: flex;
  gap: 0px;
  align-items: center;
}

.loginLogo img {
  scale: 0.6;
  padding: 10px;
  background: linear-gradient(to bottom, #9c4bff, #8035ff);
  border-radius: 16px;
}

.loginDetails {
  margin-left: 40px;
  margin-right: 40px;
}

.loginInputs {
  margin-top: 10px;
}

.signleLoginInput {
  margin-top: 10px;
}

.signleLoginInput label {
  font-weight: 600;
  margin-left: 20px;
}

.signleLoginInput input {
  all: unset;
  height: 30px;
  width: 300px;
  border-radius: 8px;
  background-color: rgb(232, 240, 254);
  padding: 10px;
  font-size: 16px;
  margin-top: 6px;
  font-weight: 400;
}

.loginButton {
  all: unset;
  height: 30px;
  width: 300px;
  border-radius: 8px;
  background-color: white;
  padding: 10px;
  font-size: 16px;
  margin-top: 6px;
  font-weight: 600;
  background-color: #8035ff;
  color: white;
  text-align: center;
  transition: ease 0.2s;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #7220ff;
}

.loginPassForgot {
  all: unset;
  font-size: 10px;
  font-weight: 600;
  color: #7220ff;
  cursor: pointer;
}

.loginPageFlex {
  display: flex;
  overflow: hidden;
  height: 738px;
}
